{% use 'bootstrap_5_layout.html.twig' %}

{% block form_row %}
    <div class="mb-3">
        {{- form_label(form) -}}
        {{- form_widget(form, { 'attr': { 'class': 'form-control' } }) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block form_label %}
    {% if label is not same as(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-label')|trim}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% set label_attr = label_attr|merge({for: id}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|raw }}</label>
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="invalid-feedback">
            {{ errors|first.message }}
        </div>
    {% endif %}
{% endblock %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" class="form-control" />
{% endblock %}

{% block form_widget_compound %}
    <div {{ block('widget_container_attributes') }} class="form-control">
        {{ form_errors(form) }}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endblock %}