{% extends 'base.html.twig' %}

{% block title %}{{ isEdit ? 'user_edit'|trans : 'register_title'|trans }}{% endblock %}

{% block content %}
    <div id="register-template" class="d-flex justify-content-center align-items-center">
         <div class="col-md-8 col-lg-5">
            {{ form_start(registrationForm, { 'attr': { 'id': 'register-form', 'class': 'card p-4 shadow-sm' } }) }}
                <h3 class="mb-3 font-weight-normal text-center">
                    {{ isEdit ? 'user_edit'|trans : 'register_user'|trans }}
                </h3>

                {{ form_errors(registrationForm) }}

                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.roles) }}

                <button type="submit" class="btn btn btn-primary">
                    {{ isEdit ? 'save'|trans : 'register'|trans }}
                </button>

                <a href="{{ path('app_user_list') }}" class="btn btn-secondary btn mt-2">
                    {{ 'go_back'|trans }}
                </a>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}